body {
    background-color:#F2CD5C ;
}
hr {
    background-color:#F2CD5C;
    border-style:dotted none none ;
    border-width:7px;
    border-color:#282F44;
    height: 0px;
    width: 30%;
}
h1 {
    color:#282F44;
}
h3{
    color:#282F44A;
}

     /*************tag selector********/
img:hover {
    background-color: gold;
} 
     /*************class selector********/
.cricket {
    background-color: red;
    border-radius: 100%;
}
.football {
    background-color: green;
    
}
/*************id selector********/
#heading {
    color:#282F44e;
}
