body {
    background-color:#FCBAD3 ;
}
hr {
    background-color:#FCBAD3;
    border-style:dotted none none ;
    border-width:7px;
    border-color:rgb(69, 69, 69);
    height: 0px;
    width: 30%;
}
h1 {
    color:#AA96DA;
}
h3{
    color:#AA96DA;
}

     /*************tag selector********/
img:hover {
    background-color: gold;
} 
     /*************class selector********/
.cricket {
    background-color: red;
    border-radius: 100%;
}
.football {
    background-color: green;
    
}
/*************id selector********/
#heading {
    color: purple;
}
