body {
    background-color:pink ;
    
}
hr {
    background-color:pink ;
    border-style:dotted none none ;
    border-width:7px;
    border-color:rgb(69, 69, 69);
    height: 0px;
    width: 5%;
    
}
h1 {
    color:purple;
}
h3{
    color: purple;
}

     /*************tag selector********/
img:hover {
    background-color:purple;
} 
     /*************class selector********/
.cricket {
    background-color:pink;
    border-radius: 100%;
}
.football {
    background-color: pink;
    border-radius: 100%;
    
}
/*************id selector********/
#heading {
    color: purple;
}

.education-container {
    margin: 50px auto 50px auto;
   
}
.hobbies-container {
    margin: 50px auto 50px auto;
   
}
.workexp-container {
    margin: 50px auto 50px auto;
    
}
.skill-container {
    margin: 50px auto 50px auto;
    
}
.form-container {
    margin: 50px auto 50px auto;
    
}

.hobbies {
    color: purple;
}
.contact {
    color: purple;
}
.w3schools {
    color: purple;
}
.form {
    color: purple;
   
}
a:hover{
color:black;
}
